#skills{
    margin: 0 auto;
    min-height:calc(100vh - 4rem);
    width:100vw;
    max-width:60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5rem;

}


.skillTitle{
    margin: 1rem 0;
    font-size:3rem;
}
.skillDesc{
    font-weight: 300;
    font-size: 1rem;
    max-width:45rem;
    padding-right: 1rem;
    

}
.s{
    color:rgb(245, 193, 49);
}
.skillImgs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap ;
    width: 100vw;
    max-width:65rem;
    margin-top:0.5rem;
}
.skillImg{
    height:10rem;
    width:10rem;
    background-color:rgb(50,50,50);
    margin:0.5rem;
    padding:1rem;
    object-fit: cover;
    border-radius:1rem;
    transition: transform 0.3s ease-in-out;
}
.skillImg:hover {
    transform: translateY(-5px); /* Slight lift on hover */
}

@media screen and (max-width:585px){
    .skillImg{
        height:7rem;
        width: 7rem;

    }
} 

